--- Conda Environment Setup ---

Below is a quick installation guide using miniconda.

1. Download and Run Install Script. Copy the command below to download and run the miniconda install script:

wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
bash Miniconda3-latest-Linux-x86_64.sh

2. Customize Conda and Run the Install. Use the terminal window to finish installation. Note, we recommend enabling conda-init.

3. Start Conda. Open a new terminal window, which should now show Conda initialized.

--- System Requirements ---

 CUDA & NVIDIA Drivers: One of the following supported versions:

 CUDA 11.2 with Driver 470.42.01 or newer
 CUDA 11.4 with Driver 470.42.01 or newer
 CUDA 11.5 with Driver 495.29.05 or newer
 CUDA 11.8 with Driver 520.61.05 or newer --> recomended*
 CUDA 12.0 with Driver 525.60.13 or newer see CUDA 12 section below for notes on usage.

version 11.8 is recomended

https://developer.nvidia.com/cuda-11-8-0-download-archive?target_os=Linux&target_arch=x86_64&Distribution=WSL-Ubuntu&target_version=2.0&target_type=deb_local

--- Install RAPIDS ---

Use the selector tool to select your preferred method, packages, and environment to install RAPIDS.

https://docs.rapids.ai/install#selector

--- OTHER PACKEGES AND LIBRARIES ---

lasio
welly
striplog
pandas 
numpy
matplotlib
chroma